.row
  .container.col.s10.offset-s1.m10.offset-m1.l8.offset-l2

    .content
      form([formGroup]="userForm", (ngSubmit)="onSubmit(userForm.value)")
        .div.card.cont-div(*ngIf="!userExist")
          app-show-errors([errorResponse]="rendErrors")
          h5(class="session-title") Sign Up
          label(class="input-label", for="user_name") User Name
          input(id=user_name, formControlName="user_name")
          <app-control-messages [control]="userForm.controls.user_name" ></app-control-messages>

          label(class="input-label", for="email") Email
          input(formControlName="email", type="email")
          <app-control-messages [control]="userForm.controls.email"></app-control-messages>

          label(class="input-label", for="password") Password
          input(formControlName="password", type="password")
          <app-control-messages [control]="userForm.controls.password"></app-control-messages>

          label(class="input-label", for="password_confirmation") Password Confirmation
          input(formControlName="password_confirmation", type="password")
          <app-control-messages [control]="userForm.controls.password_confirmation"></app-control-messages>

        .div(*ngIf="groupExist")
          .div.card.cont-div
            h5(class="session-title") Codename
            label(class="input-label", for="circle_name") Your Code Name (to be used for the draw in this circle)
            input(id="code_name", formControlName="code_name")
            <app-control-messages [control]="userForm.controls.code_name" ></app-control-messages>



          .div.card.cont-div(formArrayName="wishes")
            h5(class="session-title") Wishlist
            label(class="input-label", for="circle_name") Please add atleast 3 items in your wishlist to make it easier for your monito/monita.

            .form-div(*ngFor="let wish of userForm.get('wishes').controls;let i=index")
              .div([formGroupName]="i")
                span
                  label Wish
                  input(formControlName="wish", type="text")
                  app-control-messages([control]="wish.controls.wish")
              button.btn-small.waves-effect.waves-light.red.darken-2((click)="removeWish(i)") Remove
            a.btn.waves-effect.waves-light.yellow.darken-2.add-user-btn((click)="addWish()") Add Another Wish

        .div(*ngIf="!userExist")
          span Already have an account? 
          span
            a(routerLink="/login") Login!
          br
          br
        button(class="btn waves-effect waves-light teal lighten-1 submit-btn", type="submit", [disabled]="!userForm.valid") Join
